html {
    font-size: 62.5%;
    /* Reset para REMS- 62.5% = 10px de 16px */
}


body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/*  Globales*/
img {
    max-width: 100%;
}

.container {
    width: 95%;
    max-width: 120rem;
    /* = 1200px*/
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/* Utilidades */
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

/** Botones */
.d-block {
    display: block !important;
}

.contenido-centrado {
    max-width: 800px;
}

.boton {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem 3rem;
    display: inline-block;
    margin-top: 3rem;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-anuncio {
    background-color: #e57b23;

}

.btn-verde {
    background-color: #18a32f;


}


/* Header*/
.site-header {
    background-color: #333;
    padding: 1rem 0 0.5rem 0;
}

.site-header.inicio {

    background-image: url(../images/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 95vh;
    min-height: 70rem;
}


.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media (min-width: 768px) {
    .contenido-header {
        text-align: left;
    }
}

.contenido-header h1 {
    color: #fff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Navegación*/

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    margin-right: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
}

@media (min-width: 768px) {
    .navigation a {
        display: inline-block;
        font-size: 1.8rem; /* = 18px */
        margin-right: 2rem;
    }

    .navigation a:last-of-type {
        margin: 0;
    }
}

.navigation a:hover {
    color: #71b100;
}

/* Iconos nosotros*/
@media (min-width: 768px) {

    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
}

.icono {
    text-align: center;
}

@media (min-width: 768px) {
    .icono {
        flex-basis: calc (33.3% - 1rem);
    }
}

.icono h3 {
    text-transform: uppercase;
}

/** anuncios **/
@media (min-width: 768px) {
    .contenedor-anuncios {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
}

.anuncio {
    /* flex: 0 0 calc(33.3% - 1rem); funciona de forma reducida para el  flex-grow: 0;
    flex-shrink: 0; 
    flex-basis: calc(33.3% - 1rem) */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #d8d8d8;
    margin-bottom: 2rem;

}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0%;
}

.precio {
    color: #15de37;
    font-weight: 700;
}

.caracteristicas-iconos {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}

.caracteristicas-iconos li {
    display: 1;
    display: flex;
    color: #e36d0b;
}

.caracteristicas-iconos li img {
    margin-right: 1rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}

/** Contacto Home **/
.imagen-contacto {
    background-image: url(/images/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;

}

.contenido-contacto {
    flex: 0 0 95%;
    color: #fff;
}

.contenido-contacto p {
    font-size: 1.8rem;
}

/**seccion-blog **/
@media (min-width: 768px) {
    .seccion-blog-testimoniales {
        display: flex;
        justify-content: space-between;
    }
    
    .seccion-blog-testimoniales .blog {
        flex-basis: 60%;
    }
    
    .seccion-blog-testimoniales .testimoniales {
        flex-basis: calc(40% - 2rem);
    }
}

.entrada-blog {
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .entrada-blog{
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    
.entrada-blog .imagen {
    flex-basis: 40%;
}

.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}

}
.texto-entrada a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.5;
}

.texto-entrada h4::after {
    content: '';
    display: block;
    width: 20rem;
    height: .6rem;
    background-color: #18a32f;
    margin-top: .5rem;
}

.texto-entrada span {
    color: #ff7504;
}

/** testimonial**/
.testimonial {
    background-color: #18a32f;
    font-size: 2.4rem;
    padding: 2rem;
    color: #fff;
    border-radius: 9rem;

}

.testimonial footer p {
    text-align: right;
}

.testimonial blockquote::before {
    content: '';
    background-image: url(/images/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -1rem;
}

.testimonial blockquote {
    position: relative;
    padding: 5rem;
    font-weight: 300;

}

/** Footer **/
@media (min-width: 768px) {
    .contenedor-footer{
        display: flex;
        justify-content: space-between;
    }
}

.site-footer nav{
    display: none;
}
@media (min-width: 768px) {
    .site-footer nav{
        display: block;
    }
}
.site-footer {
    background-color: #333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}

.copyright {
    margin: 0;
    color: #fff;
}
/* Paginas internas*/
/* Nosotros */

@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 2rem;
    }
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 0.5 0 3rem 0;
}

/* Anuncios */
.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Contacto*/

.contacto p {
    font-size: 1.5rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;

}

legend {
    font-size: 2rem;
    color: #333e33;
}

label {
    font-weight: 700;
    display: block;
    text-transform: capitalize;
}

input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 95%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 10rem;
}

.formulario-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}